header,
nav,
main,
footer {
  max-width: 1240px;
  margin: auto;
}

// ----NAVIGATION---- //

#primaryNav {
  margin: 0;
  padding: 0;
}

nav button {
  display: none;
}

nav {
  button {
    display: none;
  }
  ul,
  ul.open {
    display: flex;
    border: none;
    margin-left: 2vw;
    justify-content: end;
    font-size: 1.2rem;
  }
}

nav ul li {
  border: none;
}

nav ul li.active a {
  background-color: darken(#e54e65, 12%);
}

nav ul li a:hover {
  background-color: darken(#e54e65, 6%);
}

// MAIN CARD START //

.all.cards section {
  flex-basis: calc(33.3333% - (($gutter * 2) / 3));
}

// FOOTER START //

#footerWrapper footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  #footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 80%;

    #contact {
      margin-top: 1rem;
    }
  }
}
