header {
  padding: 2rem $gutter;
  h1 {
    font-size: 2.6rem;
  }
}

nav ul li a {
  font-size: 1.2rem;
}

.all.cards {
  display: flex;
  flex-wrap: wrap;
  gap: $gutter;
  justify-content: center;
}

.all.cards section {
  flex-basis: calc(50% - ($gutter/2));
}

.all.cards section a {
  font-size: 1.2rem;
}

// START OF FOOTER //

#footerWrapper footer #footerContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 10px;

  #contact p {
    margin: 0.1rem;
  }
}

#footerWrapper footer #social {
  width: 100%;
  flex-wrap: wrap;
}

#footerWrapper footer p.legal {
  text-align: center;
}
