/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $fontColor;
  background-color: #f3f3f3;
}

#headerWrapper {
  background-color: #feed02;
  color: #e54e65;
}

header {
  display: flex;
  align-items: flex-end;
  padding: 1rem $gutter;
  gap: 8px;
  h1 {
    margin: 0;
    padding-left: 0.2rem;
    padding-bottom: 0.1rem;
    font-size: 1.8rem;
    font-weight: $boldWeight;
  }
}

// START OF NAVIGATION //
div#navWrapper {
  background-color: #e54e65;
}

nav button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  padding: 0.6rem;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 0.5rem;
}

nav ul {
  display: none;
  border-top: solid 1px rgba(255, 255, 255, 0.2);
}

nav ul.open {
  display: block;
  padding-left: 0;
  margin: 0;
}

nav ul li {
  list-style: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

nav ul li a {
  display: block;
  font-weight: $lightWeight;
  padding: 0.9rem 2vw;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-size: 1.1rem;
}

nav ul li.active a {
  background-color: darken(#e54e65, 12%);
}

nav ul li a:hover {
  background-color: darken(#e54e65, 6%);
}

// ----END OF NAVIGATION---- //

#mainWrapper main h1 {
  color: #1e1e1e;
  margin-left: 1rem;
}

.all.cards {
  padding: 0 $gutter;
}

.all.cards section {
  border: 1px solid #e54e65;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  h2,
  p,
  img {
    margin: 0;
    padding: 1rem $gutter;
  }
}

.all.cards section h2 {
  background-color: #ffee00;
  color: #1e1e1e;
  font-size: 1.5rem;
  text-align: center;
}

.all.cards section img {
  width: 100%;
  height: auto;
  display: block;
}

.all.cards section img.e2e {
  padding: 0;
}

.all.cards section p {
  font-size: 1.3rem;
  line-height: 1.1em;
  letter-spacing: 0.1rem;
}

.all.cards section a {
  display: block;
  background-color: #e54e65;
  padding: 0.75rem;
  text-align: center;
  margin: 0 3rem 1rem 3rem;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  font-size: 1.1rem;
}

.all.cards section a:hover {
  transform: translateY(-3px);
}

// END ALLCARDS

// ----START OF FOOTER---- //
#footerWrapper {
  background-color: #feed02;
  border-top: 1px solid #e54e65;
}

#footerWrapper footer {
  padding: 0.5rem $gutter;

  #contact p {
    font-size: 1.2rem;
    margin: 0.4rem;
    text-align: center;

    a {
      text-decoration: none;
      color: inherit;
    }

    ion-icon {
      color: #d4243e;
      padding-right: 5px;
    }
  } // END OF CONTACT

  #social {
    display: flex;
    justify-content: center;

    a {
      display: block;
      border: solid 1px #e54e65;
      border-radius: 8px;
      font-size: 2.1rem;
      margin: 0.4rem;
      margin-top: 1rem;
      padding: 0.3rem;
      color: black;
      line-height: 100%;

      &:hover {
        background-color: #e54e65;
      }
    }
  } // END OF SOCIAL

  #location {
    font-size: 1.4rem;
    text-align: center;
    padding: 0.7rem;
  } // END OF LOCATION
}

#footerWrapper footer p.legal {
  color: #241818;
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;
  font-weight: $lightWeight;
  text-align: center;
}
