$primaryColor: #919191;
$secondaryColor: #e2e2e2;
$fontColor: #241818;

$menuColor: green;

$defaultFont: "Lobster Two", serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;

$gutter: 16px;
